#include "resource.h"
#include <windows.h>

IDB_ICON_FARMINGTRACKER RCDATA "..\\data\\icons\\farmingtracker.png"

// Tab icons
IDB_ICON_DASHBOARD       RCDATA "..\\data\\icons\\tabicons\\dashboard.png"
IDB_ICON_DROPS           RCDATA "..\\data\\icons\\tabicons\\drops.png"
IDB_ICON_FILTER          RCDATA "..\\data\\icons\\tabicons\\filter.png"
IDB_ICON_LOOT_LOG        RCDATA "..\\data\\icons\\tabicons\\loot_log.png"
IDB_ICON_SESSION_HISTORY RCDATA "..\\data\\icons\\tabicons\\session_history.png"
IDB_ICON_TIMELINE        RCDATA "..\\data\\icons\\tabicons\\timeline.png"
IDB_ICON_CUSTOM_PROFIT   RCDATA "..\\data\\icons\\tabicons\\custom_profit.png"
IDB_ICON_DEBUG           RCDATA "..\\data\\icons\\tabicons\\debug.png"
IDB_ICON_ITEMS           RCDATA "..\\data\\icons\\tabicons\\items.png"
IDB_ICON_CURRENCIES      RCDATA "..\\data\\icons\\tabicons\\currencies.png"
IDB_ICON_GENERAL         RCDATA "..\\data\\icons\\tabicons\\general.png"
IDB_ICON_FAVORITES       RCDATA "..\\data\\icons\\tabicons\\favorites.png"
IDB_ICON_IGNORED         RCDATA "..\\data\\icons\\tabicons\\ignored.png"
IDB_ICON_LAYOUT_GRID     RCDATA "..\\data\\icons\\tabicons\\layout-grid.png"
IDB_ICON_COLOR_SWATCH    RCDATA "..\\data\\icons\\tabicons\\color-swatch.png"
IDB_ICON_CATEGORY        RCDATA "..\\data\\icons\\tabicons\\category.png"
IDB_ICON_GROUP_CATEGORY  RCDATA "..\\data\\icons\\tabicons\\groupcategory.png"
IDB_ICON_LAYOUT_COLUMNS  RCDATA "..\\data\\icons\\tabicons\\layout-columns.png"
IDB_ICON_FOLDER          RCDATA "..\\data\\icons\\tabicons\\folder.png"
IDB_ICON_SWORD           RCDATA "..\\data\\icons\\tabicons\\items.png"
IDB_ICON_COIN            RCDATA "..\\data\\icons\\tabicons\\profit.png"
IDB_ICON_FILE_DESCRIPTION RCDATA "..\\data\\icons\\tabicons\\file_csv.png"
IDB_ICON_DATABASE        RCDATA "..\\data\\icons\\tabicons\\data_reset.png"
IDB_ICON_FOLDER_OPEN     RCDATA "..\\data\\icons\\tabicons\\folder_open.png"
IDB_ICON_TOGGLE_LEFT     RCDATA "..\\data\\icons\\tabicons\\toggle.png"
IDB_ICON_STAR            RCDATA "..\\data\\icons\\tabicons\\favorites.png"
IDB_ICON_CURRENCY_DOLLAR RCDATA "..\\data\\icons\\tabicons\\currencies.png"
IDB_ICON_FILE_SIZE       RCDATA "..\\data\\icons\\tabicons\\file_size.png"
IDB_ICON_TRASH           RCDATA "..\\data\\icons\\tabicons\\trash.png"
IDB_ICON_HISTORY         RCDATA "..\\data\\icons\\tabicons\\session_history.png"
IDB_ICON_MAP_PIN         RCDATA "..\\data\\icons\\tabicons\\map_pin.png"
IDB_ICON_SPARKLES        RCDATA "..\\data\\icons\\tabicons\\sparkles.png"
IDB_ICON_WAND            RCDATA "..\\data\\icons\\tabicons\\wand.png"
IDB_ICON_FINGERPRINT     RCDATA "..\\data\\icons\\tabicons\\fingerprint.png"

// Settings sidebar icons
IDB_ICON_ACCOUNT_CONNECTION RCDATA "..\\data\\icons\\tabicons\\account_connection.png"
IDB_ICON_APPEARANCE         RCDATA "..\\data\\icons\\tabicons\\appearance.png"
IDB_ICON_WINDOWS            RCDATA "..\\data\\icons\\tabicons\\windows.png"
IDB_ICON_TABS               RCDATA "..\\data\\icons\\tabicons\\tabs.png"
IDB_ICON_DATA_RESET         RCDATA "..\\data\\icons\\tabicons\\data_reset.png"
IDB_ICON_NOTIFICATIONS      RCDATA "..\\data\\icons\\tabicons\\notifications.png"
IDB_ICON_PERFORMANCE        RCDATA "..\\data\\icons\\tabicons\\performance.png"
IDB_ICON_ADVANCED           RCDATA "..\\data\\icons\\tabicons\\advanced.png"

// Settings page section icons
IDB_ICON_TOGGLE             RCDATA "..\\data\\icons\\tabicons\\toggle.png"
IDB_ICON_ICONS_BORDERS      RCDATA "..\\data\\icons\\tabicons\\icons_borders.png"
IDB_ICON_MAIN_WINDOW        RCDATA "..\\data\\icons\\tabicons\\main_window.png"
IDB_ICON_MINI_WINDOW        RCDATA "..\\data\\icons\\tabicons\\mini_window.png"
IDB_ICON_PROFIT             RCDATA "..\\data\\icons\\tabicons\\profit.png"
IDB_ICON_MAGNETITE          RCDATA "..\\data\\icons\\tabicons\\magnetite.png"
IDB_ICON_SETTINGS_PROFILES  RCDATA "..\\data\\icons\\tabicons\\settings_profiles.png"
IDB_ICON_COPY               RCDATA "..\\data\\icons\\tabicons\\copy.png"
IDB_ICON_RESET              RCDATA "..\\data\\icons\\tabicons\\reset.png"
IDB_ICON_OPEN_FOLDER        RCDATA "..\\data\\icons\\tabicons\\open_folder.png"
IDB_ICON_EXPORT             RCDATA "..\\data\\icons\\tabicons\\export.png"

// Info button icons (embedded from data\icons\infobutton\)
IDB_INFO_WHEAT        RCDATA "..\\data\\icons\\infobutton\\Emoji wheat 32.png"
IDB_INFO_ROCKET       RCDATA "..\\data\\icons\\infobutton\\ti-rocket.png"
IDB_INFO_KEYBOARD     RCDATA "..\\data\\icons\\infobutton\\ti-keyboard.png"
IDB_INFO_HISTORY      RCDATA "..\\data\\icons\\infobutton\\ti-history.png"
IDB_INFO_LINK         RCDATA "..\\data\\icons\\infobutton\\ti-link.png"
IDB_INFO_GITHUB       RCDATA "..\\data\\icons\\infobutton\\ti-brand-github.png"
IDB_INFO_BUG          RCDATA "..\\data\\icons\\infobutton\\ti-bug.png"
IDB_INFO_HEART        RCDATA "..\\data\\icons\\infobutton\\ti-heart.png"
IDB_INFO_HEART_FILLED RCDATA "..\\data\\icons\\infobutton\\ti-heart-filled.png"
IDB_INFO_TAG          RCDATA "..\\data\\icons\\infobutton\\ti-tag.png"
IDB_INFO_INFO_CIRCLE  RCDATA "..\\data\\icons\\infobutton\\ti-info-circle.png"

IDR_WAV_STANDARD    RCDATA "..\\data\\sounds\\default.wav"
IDR_WAV_PRECURSOR   RCDATA "..\\data\\sounds\\precursor.wav"
IDR_WAV_INFUSION    RCDATA "..\\data\\sounds\\infusion.wav"
IDR_WAV_ALERT       RCDATA "..\\data\\sounds\\alert.wav"
